 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 839px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/5adc5323-0214-6abd-bcbf-a06b8263b5bd.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 613px;
  min-height: 606px;
  margin: -437px -23px 40px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(114,104,63,0.4);
  font-size: 2.25rem;
  margin: 9px 104px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 4px auto 0 115px;
}

.u-section-1 .u-line-1 {
  width: 78px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -14px auto 0 9px;
}

.u-section-1 .u-line-2 {
  width: 78px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -3px 80px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 42px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  text-align: center;
  margin: 80px auto 0 0;
  padding: 19px 45px 20px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  text-align: center;
  margin: -64px auto 0;
  padding: 19px 45px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 270px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -137px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 170px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -37px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 71px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 953px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 47px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 906px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 26px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 26px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-image-4 {
  height: 213px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 26px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-2 .u-image-5 {
  height: 213px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 26px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-2 .u-image-6 {
  height: 213px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 747px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1287px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}